/*--------------------------------*\
    Typography
\*--------------------------------*/

html {
  font-family: $fontHouse, Helvetica, sans-serif;
}

a, a:active, a:hover, a:visited {
  color: $colorCopy;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
    a, a:active, a:hover, a:visited {
      color: $colorCopy;
      text-decoration: none;
    }
}

header {
  text-align: center;
    h1 {
      margin: auto auto 8px auto;
    }

    p {
      color: $colorCopyLight;
      font-size: 0.72rem;
      line-height: 1.6rem;
      text-align: center;
        a, a:active, a:hover, a:visited {
          border-bottom: 1px solid $colorCopyLight;
          color: $colorCopyLight;
          padding-bottom: 2px;
          text-decoration: none;
        }
    }
}


.posterTitle {
  color: $colorCopy;
  font-size: 1rem;
  font-weight: 700;
  margin: 24px auto 16px auto;
  text-align: center;
}

.posterDescription {

  p {
    color: $colorCopyLight;
    font-family: $fontBodyHouse, Helvetica, sans-serif;
    font-size: 0.72rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    margin: 8px auto 0 auto;
    text-align: center;

      a, a:active, a:hover, a:visited {
        border-bottom: 1px solid $colorCopyLight;
        color: $colorCopyLight;
        padding-bottom: 2px;
        text-decoration: none;
      }
  }
}


footer {
  p {
    font-size: 0.72rem;
    text-align: center;
  }

  a, a:active, a:hover, a:visited {
    border-bottom: 1px solid $colorCopyLight;
    color: $colorCopyLight;
    padding-bottom: 2px;
    text-decoration: none;
  }
}