/*
Parts: Variables

Includes global variables for
colors and unit sizes
*/


/*
Fonts
*/
$fontHouse: "ff-dagny-web-pro";
$fontWomans: "ltc-bodoni-175";
$fontWomansTitle: "futura-pt";


/*
Colors
*/
$colorCopy: #404d5b;
$colorHouse: #95a5a6;
$colorKnockout: #fff;