// Variables

// Includes global variables for colors and unit sizes

// Fonts Site

$fontHouse: "Range Mono";
$fontBodyHouse: "Range Mono";


// Fonts Poster Woman's Day

$fontWomans: "ltc-bodoni-175";
$fontWomansTitle: "futura-pt";


// Colors

$colorCopy: #666666;
$colorCopyLight: #adadad;
$colorHouse: #95a5a6;
$colorKnockout: #fff;