.womansDayPoster {
  background-color: black;
  box-shadow:
    rgba(156, 148, 148, 0.32) -6px 6px 8px,
    rgba(156, 148, 148, 0.08) -2px 2px 25px;
  height: 560px;
  width: 847px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1; 
    .shesGotTo {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 1.4rem;
      font-weight: 400;
      p {
        padding-top: 32%;
        margin: 0 auto -150px 132px;
      }
    }
    .goOut {
      color: #fff;
      display: block;
      font-family: $fontWomansTitle;
      font-size: 22.4rem;
      font-weight: 300;
      p {
        letter-spacing: -16px;
        margin-left: 24px;
        text-align: left;
      }
    }
    .toGet {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 1.4rem;
      font-weight: 400;
      p {
        padding-top: 32%;
        margin: -326px 80px 0 auto;
        text-align: right;
      }
    }
    .theAP {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.1rem;
      font-weight: 400;
      p {
        margin: 0 92px 0 auto;
        text-align: right;
      }
    }
    .andWomans {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.1rem;
      font-style: italic;
      font-weight: 400;
      p {
        margin: 8px 164px 0 auto;
        text-align: right;
      }
    }
    .becauseWomans {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.1rem;
      font-weight: 400;
      p {
        margin: 3px 230px 0 auto;
        text-align: right;
      }
    }
    .youCan {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.1rem;
      font-style: italic;
      font-weight: 400;
      p {
        margin: 3px 128px 0 auto;
        text-align: right;
      }
    }
}