/*--------------------------------*\
    Woman's Day Advetisement...
\*--------------------------------*/

.womansDayPoster {
  background-color: 
    rgba(0, 0, 0, 0.8);
  box-shadow:
    rgba(156, 148, 148, 0.32) -6px 6px 8px,
    rgba(156, 148, 148, 0.08) -2px 2px 25px;
  height: 560px;
  width: 847px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  /**
   * Begin shame CSS
   */

    video#loopBackground {
      position: relative;
      top: -360px;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 164%;
      width: auto;
      height: auto;
      z-index: -1;
      background: url('/pic/smoke.jpg') no-repeat;
      background-size: cover;
    }
    .bike {
      margin: 0 0 0 83px;
      position: absolute;
        img {
          @extend .bike;
          width: 496px;
          z-index: 3;
        }
    }
    .shesGotTo {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 1.4rem;
      font-weight: 400;
      position: absolute;
        p {
          padding-top: 32.8%;
          margin: 196px auto -150px 124px;
        }
    }
    .goOut {
      color: #fff;
      display: block;
      font-family: $fontWomansTitle;
      font-size: 21.6rem;
      font-weight: 300;
      margin: 148px 0 0 0;
      position: absolute;
      white-space: nowrap;
        p {
          letter-spacing: -8px;
          margin-left: 22px;
          text-align: left;
        }
    }
    .toGet {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 1.4rem;
      font-weight: 400;
      position: absolute;
        p {
          padding-top: 32%;
          margin: 196px 0 0 576px;
          text-align: right;
        }
    }
    .theAP {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.44rem;
      font-weight: 400;
      position: absolute;
        p {
          margin: 464px auto 0 704px;
          text-align: right;
        }
    }
    .andWomans {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.44rem;
      font-style: italic;
      font-weight: 400;
      position: absolute;
        p {
          margin: 478px auto 0 580px;
          text-align: right;
        }
    }
    .becauseWomans {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.44rem;
      font-weight: 400;
      position: absolute;
        p {
          margin: 490px auto 0 454px;
          text-align: right;
        }
    }
    .youCan {
      color: #fff;
      display: block;
      font-family: $fontWomans;
      font-size: 0.44rem;
      font-style: italic;
      font-weight: 400;
      position: absolute;
        p {
          margin: 502px auto 0 508px;
          text-align: right;
        }
    }
}

  /**
   * End shame CSS
   */